html,body{
height: 100%;
}



#logo {
	height: 92px;
	width: 272px;
}
section {

	display:flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
}
#search{
	width: 584px;
	height: 44px;
	margin-top: 12px;
	box-shadow: 0 2px 4px 0 #c8c8c8; 
	border-radius: 2px;
	border: 0.1px solid #fff;
}

#search:hover{
box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
}

#rech,#lucky{
padding: 0px 16px ;
text-align: center;
font-size: 13px;
font-weight: bold;
margin: 35px 5px 0 5px;
height: 36px;
border: none;
background-color: #f2f2f2;
color: #757575;
border-radius: 3px;
line-height: 27px;
font-family: arial;

}


#rech:hover,#lucky:hover{
box-shadow: 0 1px 1px 0 grey;
color: black;
border: 1px solid #c6c6c6;

}

#france{
	font-size: 16px;
	font-family: roboto;
	color: #4285f4;
	position: relative;
	left:11px;
	top:-25px;

}

@font-face 
{ 
    font-family: 'roboto';
    src: url('Roboto-Regular.ttf') format('truetype');
}
